.main{
    width:100% ;
    height:100vh ;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #9c27b0,#8cdeff);
}
nav{
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
    padding-top: 10px;
}
.logo{
    flex-basis:20% ;
    top: 250px;
    margin-left: 10px;
}
.logo img{
    width: 150px;
    margin-left: 5px;
    
    
}
.nav_link{
    flex: 1;
    text-align: right;  
}
.nav_link :hover{
 color: chocolate;
}
.nav_link ul li{
    list-style: none;
    margin: 0 20px;
    display: inline-block;
}
.nav_link ul li a{
    color: #fff;
    text-decoration: none;
}
.information{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 50;
    left: -3%;
    transform: translateY(-50%);
}
#cercle{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    transform: rotate(0deg);  
    transition: 1s;
    
}
.future img{
    width: 70px;
}
.future{
    position: absolute;
    display: flex;
    color: #fff;
}
.future div{
    margin-left: 20px;

}
.future div p{
    margin-top: 8px;
}
.un{
    top:550px ;
    right: 50px;
}
.deux{
    top: 100px;
    left: 350px;
    transform: rotate(-90deg);
}
.trois{
    bottom: 550px;
    left: 130px;
    transform: rotate(-180deg);
}
.quatre{
    bottom: 150px;
    right: 450px;
    transform: rotate(-270deg);
}
.mobile{
    width: 200px;
    position: absolute;
    top: 65%;
    left: 35%;
    transform: translateY(-50%);
    z-index: 1;
}
.control{
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
}
.control h3{
    margin: 15px 0;
    color: #fff;
}
#downbtn{
    width: 15px;
    cursor: pointer;
}
#upbtn{
    width: 15px;
    cursor: pointer;
    transform: rotateY(150deg);
}
.overlay{
    width: 0;
    height: 0;
    border-top: 630px solid #fff;
    border-right: 500px solid transparent;
    border-bottom: 500px solid whitesmoke;
    border-left: 500px solid whitesmoke;
    position:absolute;
    left: 0;
    top: 0;
}
